:root{
    --main: rgb(111, 0, 255);
    --hover: rgb(85, 0, 255);
    --bg: rgb(42, 42, 48); 
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(245, 245, 245);
    background-color: var(--bg);
    color: #fff;
}
.menu{
    display: none;
}
.title{
    padding: 30px 50px;
}
.btn-primary{
    background-color: var(--main);
    border-color: var(--main);
}
.btn-primary:hover{
    background-color: var(--hover);
    border-color: var(--hover);
}
.hero{
    height: 100vh;
    border-bottom: 2px solid var(--main);
}
.hero header{
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--main);
}
.hero header .logo img{
    width: 100px;
    height: 25px;
}
.hero header nav a{
    text-decoration: none;
    color: #ddd;
    margin: 8px;
    font-weight: 500;
    transition: .3s;
}
.hero header nav a:hover{
    color: #fff;
}
.hero .con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}
.hero .con p{
    font-size: 52px;
    font-weight: bold;
}
.hero .con span{
    color: #ddd;
    font-weight: 600;
}
.hero .con .social{
    margin-top: 30px;
}
.hero .con .social i{
    font-size: 22px;
    margin: 5px;
    color: #ddd;
    cursor: pointer;
    transition: .3s;
}
.hero .con .social i:hover{
    color: #fff;
}

.skills{
    height: 100vh;
    border-bottom: 2px solid var(--main);
}
.stats{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.stats .row{
    justify-content: center;
}
.skills .stats .stat{
    background-color: rgb(58, 58, 58);
    text-align: center;
    margin: 10px;
    padding: 60px 0px;
    font-weight: bold;
    border: 2px solid var(--main);
    border-top: 5px solid var(--main);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.skills .stats .stat i{
    background-color: rgb(58, 58, 58);
    font-size: 23px;
    position: relative;
    top: 5px;
    right: 10px;
}
.skills .stats .stat .star{
    position: relative;
    top: 5px;
    background-color: rgb(58, 58, 58);
}
.skills .stats .stat .star i{
    font-size: 15px;
}
.work{
    height: 100vh;
    border-bottom: 2px solid var(--main);
}

.work .stats .stat{
    padding: 5px;
    background-color: rgb(58, 58, 58);
    border: 2px solid var(--main);
    border-top: 5px solid var(--main);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px;
}
.work .stats .stat img{
    width: 100%;
    height: 200px;
}
.work .stats .name{
    padding: 8px 15px;
    background-color: rgb(58, 58, 58);
}
.work .stats p{
    background-color: rgb(58, 58, 58);
    padding: 5px 15px;
    font-size: 15px;
    color: #ddd;
}

.contact{
    height: 100vh;
}
.contact .form{
    margin: 10px auto;
    max-width: 700px;
    margin-top: 100px;
}
.contact .email i{
    font-size: 22px;
    position: relative;
    right: 5px;
    top: 5px;
}
footer{
    border-top: 2px solid var(--main);
    padding: 15px 5px;
}
@media screen and (max-width: 900px) {
    .hero .con{
        padding: 20px;
    }
    .hero .con p{
        font-size: 42px;
    }
    .skills{
        height: 100%;
    }
    .work{
        height: 100%;
    }
    .stats{
        height: auto;
    }
    .title{
        text-align: center;
        margin-bottom: 30px;
    }
    .contact .form{
        margin: 10px;
    }
}
@media screen and (max-width:475px){
    .menu{
        display: block;
        font-size: 22px;
        position: relative;
        top: 4px;
    }
    nav{
        width: 0px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1111;
        height: 100vh;
        position: fixed;
        right: 0px;
        top: 0px;
        transition: .4s;
    }
    nav i{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
    }
}