*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}
body a{
    text-decoration: none;
}

.hero{
    height: 100vh;
}
header{
    background-image: linear-gradient(to right, #3138fd, #2b32ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}
header .logo h1{
    color: #eee;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 5px;
    cursor: pointer;
}
.phone nav{
    display: none;
}
.slid-menu-icon{
    display: none;
}

header nav a{
    color: #eee;
    margin-left: 25px;
    font-weight: bold;
    transition: .3s;
}
header nav a:hover{
    color: rgb(210, 210, 210);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .main h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    letter-spacing: 2px;
    color: #222;
    margin-top: 50px;
    cursor: default; 
}
.content .main h1::after{
    content: '';
    width: 100px;
    position: relative;
    top: 15px;
    height: 3px;
    background-color: #3138fd;
    display: block;
    margin: auto;
}
.content .main p{
    font-size: 25px;
    color: #000;
    margin-top: 30px;
    font-weight: 200;
    text-align: center;
    cursor: default;
}

.content .intr-self{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .intr-self p{
    color: rgb(65, 65, 65);
    margin-top: 40px;
    font-size: 15px;
    text-align: center;
    max-width: 500px;
    padding: 15px;
}
.content .intr-self p span{
    color: #2b32ff;
    font-weight: 600;
}
.content .intr-self button{
    font-family: 'Ubuntu', sans-serif;
    width: 140px;
    height: 40px;
    margin-top: 50px;
    color: #eee;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    background-color: #2b32ff;
    border: 2px solid #2b32ff;
    cursor: pointer;
    transition: .3s;
}
.content .intr-self button:hover{
    background-color: #eee;
    color: #000;
    border: 2px solid #2b32ff;
}

.social-media{
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 8px;
    position: absolute;
    bottom: 0px;
    background-color: #fff;
}
.social-media i{
    color: rgb(65, 65, 65);
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
    transition: .3s;
}
.social-media i:hover{
    color: #222;
}


.skills{
    height: 100vh;
    background-color: #3138fd;
}
.title-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
.title-skills h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    letter-spacing: 2px;
    padding-top: 60px;
    cursor: default;
}
.title-skills h1::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #222;
    text-align: center;
    margin: auto;
    position: relative;
    top: 15px;
}

.skills-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 550px;
    padding-top: 130px;
    margin: auto;
}
.skills-bar .bar{
    margin: 20px;
}
.skills-bar .bar span{
    font-size: 20px;
    margin-left: 5px;
}
.skills-bar .bar i{
    margin-left: 10px;
    font-size: 20px;
}
.skills-bar .bar p{
    float: right;
    font-size: 16px;
    margin-top: 5px;
}

.skills-bar .bar::after{
    content: '';
    display: block;
    max-width: 550px;
    position: relative;
    height: 7px;
    margin-top: 8px;
    background-color: #eee;
    border-radius: 15px;
}
.skills-bar .bar::before{
    content: '';
    display: block;
    max-width: 80%;
    position: relative;
    right: 1px;
    top: 40px;
    height: 9px;
    background-color: #222;
    z-index: 999;
    border-radius: 15px;
}
.skills-bar .bar:nth-child(2)::before {
    max-width: 74%;
}
.skills-bar .bar:last-child::before {
    max-width: 65%;
}

.work{
    height: 100vh;
}
.title-work h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    color: #222;
    letter-spacing: 2px;
    padding-top: 40px;
    cursor: default;
}
.title-work h1::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #3138fd;
    text-align: center;
    margin: auto;
    position: relative;
    top: 15px;
}


.boxex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.box{
    background-color: #fff;
    color: #000;
    margin: 10px;
    height: 400px;
    width: 260px;
    display: flex;
    flex-direction: column;
}
.box img{
    width: 100%;
    height: 250px;
    padding: 5px;
}

.box h1{
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    color: #222;
    cursor: default;
}
.box p{
    color: rgb(65, 65, 65);
    font-size: 16px;
    padding: 10px;
}
.box a{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #2b32ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #2b32ff;
    border-top: 2px solid #2b32ff;
    transition: .3s;
}
.box a:hover{
    border-top: 2px solid #eee;
    background-color: #fff;
    font-weight: bold;
    color: #000;
}

.more-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.more-btn a{
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    background-color: #2b32ff;
    color: #fff;
    padding: 10px 50px;
    border: 2px solid #2b32ff;
    font-weight: bold;
    transition: .3s;
}
.more-btn a:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #2b32ff;
}

.contact{
    height: 100vh;
    background-color: #2b32ff;
}
.contact-title h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    color: #fff;
    letter-spacing: 2px;
    padding-top: 40px;
    cursor: default;
}
.contact-title h1::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #222;
    text-align: center;
    margin: auto;
    position: relative;
    top: 15px;
}
.content-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.contact .left-con{
    display: flex;
    align-items: center;
    margin: 50px;
}
.contact .left-con i{
    font-size: 30px;
}
.contact .left-con span{
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}
.contact .left-con span p{
    font-weight: 400;
    font-size: 16px;
    color: rgb(211, 211, 211);
}
.right-content{
    width: 400px;
    margin: 50px;
}
.right-content form{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-radius: 5px;
}
.right-content form h1{
    font-family: 'Ubuntu', sans-serif;
    color: #222;
    padding: 30px 15px;
}
.right-content form input{
    background-color: #eee;
    margin: 10px 15px;
    border-radius: 25px;
    padding-left: 10px;
    border: none;
    height: 35px;
    outline: none;
}
.right-content form textarea{
    margin: 10px 15px;
    background-color: #eee;
    outline: none;
    padding: 10px;
    resize: none;
}
.right-content form button{
    font-family: 'Ubuntu', sans-serif;
    width: 160px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    height: 35px;
    border: none;
    background-color: #2b32ff;
    color: #fff;
    border: 2px solid #2b32ff;
    cursor: pointer;
    
    transition: .3s;
}
.right-content form button:hover{
    background-color: #eee;
    border: 2px solid #2b32ff;
    color: #000;
}



@media screen and (max-width: 750px){
    .work{
        height: auto;
    }
    .contact{
        height: auto;
    }
    .content .intr-self button{
        margin-top: 20px;
    }
    .more-btn{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 535px) {
    nav{
        display: none;
    }
    header{
        padding: 25px 40px;
    }
    .phone nav{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #222;
        overflow: hidden;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 0px;
        z-index: 999;
        transition: all .3s;
    }
    .phone nav i{
        font-size: 23px;
        position: absolute;
        right: 40px;
        top: 25px;
    }
    .phone nav a{
        font-family: 'Ubuntu', sans-serif;
        color: #fff;
        margin: 10px;
        font-size: 20px;
    }
    .slid-menu-icon{
        display: block;
        font-size: 20px;
    }
    .skills{
        padding-top: 0px;
        margin-top: 0px;
    }
}